@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

h1, h2, h3 {
    font-family: "Roboto", sans-serif;
    color: #444;
    font-weight: bold;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.date {
    color: grey;
}