/* General Styles */
body, html {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navigation */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 10px;
    align-items: center;
}

.menu-toggle {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #fff;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 2em;
}

.navbar-list {
    list-style-type: none;
    display: flex;
    gap: 2em;
    transition: transform 0.3s ease;
}

.navbar-list li {
    padding: 10px;
}

@media (max-width: 600px) {
    .menu-toggle {
        display: block;
    }

    .navbar-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    .navbar-list.active {
        display: flex;
    }
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.navbar a.active {
    background-color: #555;
}

/* Sections */
section {
    padding: 100px 60px;
    margin-top: 20px;
    height: 60vh;
}

.active-section {
    background-color: #f4f4f4;
}

/* Scroll to Top Button */
.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: aliceblue;
    font-weight: bold;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
