
body {
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    background: #f0768c;
    color: #2a2509;
    justify-content: center;
    gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    align-items: center;
}

.holder {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.headline  {
    font-size: 3em;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
    display:block;
    font-size: 27px;
}

input {
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #2a2509;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    padding: 0 1em;
}

button {
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    z-index: 10000;
    width: 360px;
}

h1 {
    font-size: 36px;
}

textarea {
    background:#22b2da;
    color: #2a2509;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    padding: 10px 1em;
    resize: none;
    font-weight: 100;
    height: 100px;
    width: 320px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus  {
    outline: none;
}

#entryHolder {
    margin-bottom: 1em;
    font-style: italic;
    display: flex;
}

.border {
    border: 1px solid grey;
    margin: .5em;
    padding: 1em;
}

#name {
    text-decoration: underline;
}